#  Data Types and Structures Questions


1. What are data structures, and why are they important.
- A data structure is a specialized format for organizing, processing, retrieving and storing data.

2. Explain the difference between mutable and immutable data types with examples.
- Mutable Data Types – These are data types whose values can be modified after they are created. Examples: List, Dictionary, Set. Immutable Data Types – These are data types whose values cannot be altered once they are set. Examples: String, Tuple.

3. What are the main differences between lists and tuples in Python.
- Tuples are immutable objects and lists are mutable objects. Once defined, tuples have a fixed length and lists have a dynamic length. Tuples use less memory and are faster to access than to lists. Tuple syntax uses round brackets or parenthesis, and list syntax uses square brackets

4. Describe how dictionaries store data.
- Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

5. Why might you use a set instead of a list in Python.
- Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficiently remove duplicate values from a list or tuple and to perform common math operations like unions and intersections.

6. What is a string in Python, and how is it different from a list.
- 1 - Strings in Python are sequences of characters enclosed in quotes ('' or “”). Lists are ordered collections of items enclosed in square brackets [].
 2 - Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

7.  How do tuples ensure data integrity in Python.
- Tuples in Python are immutable, meaning once they are created, they cannot be changed. This characteristic can be leveraged for data integrity by using tuples for data that should not be modified after creation.

8. What is a hash table, and how does it relate to dictionaries in Python.
- This makes it easy and fast to access data. In general, hash tables store key-value pairs and the key is generated using a hash function. Hash tables or has maps in Python are implemented through the built-in dictionary data type. The keys of a dictionary in Python are generated by a hashing function.

9. Can lists contain different data types in Python.
- However, in Python, lists can contain heterogeneous data types and objects. For instance, integers, strings, and even functions can be stored within the same list.

10. Explain why strings are immutable in Python.
- Python strings are "immutable" which means they cannot be changed after they are created (Java strings also use this immutable style). Since strings can't be changed, we construct *new* strings as we go to represent computed values.

11. What advantages do dictionaries offer over lists for certain tasks.
- Dictionaries are ideal for tasks requiring quick lookups, data mappings, and key-value associations. Lists are suitable for ordered collections, sequential processing, and scenarios where the order of elements matters.

12. Describe a scenario where using a tuple would be preferable over a list.
- We use a tuple instead of a list when we have a collection of items that should not be modified. Tuples are useful when we want to ensure that the data remains constant throughout my program. Lists, on the other hand, are more suitable when we need to add, remove, or modify elements.

13. How do sets handle duplicate values in Python.
- Drop duplicate rows data = data. drop_duplicates()
Print the updated DataFrame print(data)
Keep the first occurrence of the duplicates data = data. ...
Replace duplicate values with the median of the column data['salary'] = data.

14. How does the “in” keyword work differently for lists and dictionaries.
- As mentioned above, the in operation for the dictionary tests on keys. The key of the dictionary is a unique value as well as the set, and the execution time is about the same as for sets. On the other hand, dictionary values can be duplicated like a list.

15. Can you modify the elements of a tuple? Explain why or why not.
- Tuples are immutable, so once they are created, we can't change, add, or remove their elements. If we try to modify a tuple, it will throw a TypeError.

16. What is a nested dictionary, and give an example of its use case
- In Python, a nested dictionary is a dictionary inside a dictionary. It's a collection of dictionaries into one single dictionary. Here, the nested_dict is a nested dictionary with the dictionary dictA and dictB . They are two dictionary each having own key and value.

17. Describe the time complexity of accessing elements in a dictionary.
- Similar to the insertion operation, dictionary lookups in Python also have an average time complexity of O(1). This means that, on average, the time taken to retrieve an element from a dictionary is constant and does not depend on the size of the dictionary.

18. In what situations are lists preferred over dictionaries.
- For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19. Why are dictionaries considered unordered, and how does that affect data retrieval.
- Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- A list can store multiple items in one variable and be created using square brackets. Dictionaries are used to store data values in key:value pairs. A dictionary is an ordered, changeable collection, and does not allow duplicates. Elements of the dictionary are accessed through the keys.

# Practical Questions

1. Write a code to create a string with your name and print it.

In [6]:
name = 'bharti'
print("my name is", name)

my name is bharti

# Write a code to find the length of the string "Hello World.

In [10]:
l = "Hello World"
A = len(l)

print("The lenght of l", A)

The lenght of l 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [13]:
word = "Python Programming"

# Slice the first 3 characters
sliced_text = word[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

4. 4. Write a code to convert the string "hello" to uppercase.

In [15]:
t = "hello"

up_text = t.upper()

print("Uppercase text:", up_text)

Uppercase text: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [16]:
t = "apple"
new_text = t.replace("apple", "orange")

print("Replaced text:", new_text)

Replaced text: orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [17]:
no = [1,2,3,4,5]

print("lsit of number", no)

lsit of number [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [18]:
numbers = [1, 2, 3, 4]

numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [19]:
n = [1, 2, 3, 4, 5]

n.remove(3)

# Print the updated list
print("Updated list:", n)

Updated list: [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [20]:
list = ['a','b','c','d']

second_element = list[1]

print("Second element:", second_element)

Second element: b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [21]:
list = [10, 20, 30, 40, 50]

list.reverse()

# Print the reversed list
print("Reversed list:", list)

Reversed list: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [23]:
tuple = [100,200,300]
print("my tuble",tuple)

my tuble [100, 200, 300]

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [24]:
tuple = ['red', 'green', 'blue', 'yellow']

second_to_last_element = tuple[-2]

print("Second-to-last element:", second_to_last_element)

Second-to-last element: blue

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [25]:
tuple = [10,20,5,15]

min_tuple = min(tuple)

print("Minimum number:", min_tuple)

Minimum number: 5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [26]:
list = ('dog', 'cat', 'rabbit')

index = list.index('cat')

print("Index of 'cat':", index)

Index of 'cat': 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [27]:
fruit = ('apple', 'banana', 'kiwi')

if 'kiwi' in fruit:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is in the tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [29]:
set = {'a','b','c'}

print("my set",set)

my set {'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [30]:
set = {1, 2, 3, 4, 5}

set.clear()

# Print the updated set
print("Updated set:", set)

Updated set: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [31]:
set = {1, 2, 3, 4}

set.remove(4)

# Print the updated set
print("Updated set:", set)

Updated set: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [32]:
a = {1, 2, 3}
b = {3, 4, 5}

union_set = a.union(b)

print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [33]:
a = {1, 2, 3}
b = {2, 3, 4}

intersection_set = a.intersection(b)

print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [ ]:
21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [34]:
a = {"name": "bharti",
     "age": 35,
     "city": "delhi"}

print("my dictionary",a)

my dictionary {'name': 'bharti', 'age': 35, 'city': 'delhi'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [35]:
b = {'name': 'John', 'age': 25}

b['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", b)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
h = {'name': 'Alice', 'age': 30}

name_value = h['name']

print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [37]:
y = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del y['age']

# Print the updated dictionary
print("Updated dictionary:", y)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [38]:
c = {'name': 'Alice', 'city': 'Paris'}

if 'city' in c:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them a

In [40]:
a = (1,2,3)
print("my tuple",a)
b = [1,2,3]
print("my list",b)
c = {"name": "bharti",
     "age": 35,
     "city": "delhi"}
print("my dictionary",c)

my tuple (1, 2, 3)
my list [1, 2, 3]
my dictionary {'name': 'bharti', 'age': 35, 'city': 'delhi'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [41]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [7, 9, 11, 18, 100]

28. Write a code to create a list with strings and print the element at the third index.

In [44]:
list = ("apple", "banana", "cherry", "date", "elderberry")

third_element = list[2]

print("Element at index 2:", third_element)

Element at index 2: cherry

29. Write a code to combine two dictionaries into one and print the result.

In [46]:
a = {"name" : "bharti",
     "course": "data analytics"}

b= {"age": 35,
     "city": "delhi"}

a.update(b)

print("Combined dictionary:", a)

Combined dictionary: {'name': 'bharti', 'course': 'data analytics', 'age': 35, 'city': 'delhi'}

30. Write a code to convert a list of strings into a set

In [54]:
l = ["apple", "banana", "cherry", "date", "elderberry"]

# Use a different variable name, avoiding 'set' which is a built-in function
s_l = set(l)

print("Converted string:", s_l)

TypeError: 'set' object is not callable